body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #452b4d;
}

#image-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.draggable-image {
    position: absolute;
    cursor: grab;
    user-select: none;
}

.glow-green {
    filter: drop-shadow(0 0 10px limegreen);
    transition: filter 0.3s ease;
}